<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="link">
            <h2><span jhiTranslate="supplySampleApplicationApp.link.detail.title">Link</span> {{ link.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supplySampleApplicationApp.link.name">Name</span></dt>
                <dd>
                    <span>{{ link.name }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.link.deviceId">Device Id</span></dt>
                <dd>
                    <span>{{ link.deviceId }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.link.description">Description</span></dt>
                <dd>
                    <span>{{ link.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/link', link.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
