<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-alarm-heading" jhiTranslate="supplySampleApplicationApp.alarm.home.createOrEditLabel">Create or edit a Alarm</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.phenomenonTime" for="field_phenomenonTime">Phenomenon Time</label>
                    <div class="d-flex">
                        <input id="field_phenomenonTime" type="datetime-local" class="form-control" name="phenomenonTime" formControlName="phenomenonTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.result" for="field_result">Result</label>
                    <input type="text" class="form-control" name="result" id="field_result"
                           formControlName="result"/>
                    <div *ngIf="editForm.get('result')!.invalid && (editForm.get('result')!.dirty || editForm.get('result')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('result')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.resultTime" for="field_resultTime">Result Time</label>
                    <div class="d-flex">
                        <input id="field_resultTime" type="datetime-local" class="form-control" name="resultTime" formControlName="resultTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('resultTime')!.invalid && (editForm.get('resultTime')!.dirty || editForm.get('resultTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('resultTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('resultTime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.level" for="field_level">Level</label>
                    <input type="text" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.resolveTime" for="field_resolveTime">Resolve Time</label>
                    <div class="d-flex">
                        <input id="field_resolveTime" type="datetime-local" class="form-control" name="resolveTime" formControlName="resolveTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplySampleApplicationApp.alarm.factory" for="field_factory">Factory</label>
                    <select class="form-control" id="field_factory" name="factory" formControlName="factoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="factoryOption.id" *ngFor="let factoryOption of factories; trackBy: trackById">{{ factoryOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
