<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alarm">
            <h2><span jhiTranslate="supplySampleApplicationApp.alarm.detail.title">Alarm</span> {{ alarm.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.name">Name</span></dt>
                <dd>
                    <span>{{ alarm.name }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.phenomenonTime">Phenomenon Time</span></dt>
                <dd>
                    <span>{{ alarm.phenomenonTime }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.result">Result</span></dt>
                <dd>
                    <span>{{ alarm.result }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.resultTime">Result Time</span></dt>
                <dd>
                    <span>{{ alarm.resultTime }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.description">Description</span></dt>
                <dd>
                    <span>{{ alarm.description }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.level">Level</span></dt>
                <dd>
                    <span>{{ alarm.level }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.status">Status</span></dt>
                <dd>
                    <span>{{ alarm.status }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.resolveTime">Resolve Time</span></dt>
                <dd>
                    <span>{{ alarm.resolveTime }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.details">Details</span></dt>
                <dd>
                    <span>{{ alarm.details }}</span>
                </dd>
                <dt><span jhiTranslate="supplySampleApplicationApp.alarm.factory">Factory</span></dt>
                <dd>
                    <div *ngIf="alarm.factoryId">
                        <a [routerLink]="['/factory', alarm.factoryId, 'view']">{{ alarm.factoryName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alarm', alarm.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
